body {
    background-color: rgb(38, 43, 49);
    font-family: Roboto;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
}
.wrapper{
    
    display: grid;
    grid-template-rows: 100px 1fr 200px;
    
    padding: 0 20px;
    min-width: 240px;
    
}
.menu{
    
    display: grid;
    padding-top: 20px;
    justify-content: right;
    grid-row: 1/2;

}
ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.main{
    grid-row: 2/3;
    display: grid;
    justify-content: center;
}
.header{
    display: grid;
    font-size: 80px;
    font-weight: bold;
    justify-content: center;
    color: aliceblue;
    padding-bottom: 30px;
}


li{
    margin-right: 0;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 10px;
    
}
